.git/
.gitignore
.idea/
tests/
__pycache__/
*.py[cod]
.pytest_cache/

.env
.env.*
src/.env

src/itdog_userdata/
src/cesu_userdata/
linux_error.png
cesu_error.png
.cfsdns_state.json
.cfsdns.lock

Snipaste_01.png
Snipaste_02.png
